@use './colors/palette.scss';
@use './shared.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        @media (min-width: 1230px) {
            cursor: pointer;
        }
    }
}

button {
    display: flex;
    background-color: unset;
    border: unset;

    &:hover {
        @media (min-width: 1230px) {
            cursor: pointer;
        }
    }
}

section {
    padding: 40px 0;
}

main {
    padding-top: 56px;
}

ul {
    list-style-type: none;
}